<%- include('../_partials/_header.ejs', {title: 'Article Details'}) %>
    <div class="container">
        <h1 class="mb-1"><%= article.title %></h1c>
    </div>
<%- include('../_partials/_footer.ejs') %>